@import 'tailwindcss';

@source "./components/*.tsx";
@source "./icons/*.tsx";

@theme {
  --color-black: #0f1419;
  --color-dark-1: #17202a;
  --color-dark-2: #1c2733;
  --color-dark-3: #283340;
  --color-dark-4: #3a444c;
  --color-dark-5: #5b7083;
  --color-dark-6: #8899a6;
  --color-dark-7: #ebeef0;
  --color-dark-8: #f7f9fa;
  --color-primary-blue: #1da1f2;
  --color-white: #ffffff;
}

@layer base {
  @font-face {
    font-family: 'TwitterChirp';
    src: url('/fonts/Chirp-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'TwitterChirp';
    src: url('/fonts/Chirp-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'TwitterChirp';
    src: url('/fonts/Chirp-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'TwitterChirp';
    src: url('/fonts/Chirp-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'TwitterChirp';
    src: url('/fonts/Chirp-Heavy.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

* {
  scrollbar-color: var(--color-dark-3) var(--color-black);
}

body {
  font-family: 'TwitterChirp', sans-serif;
}
